body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 300px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

.flex-grow {
  flex: 1 0 auto;
}

/* Style the select element within the sidebar */
.sidebar select {
  background: transparent;
  color: #3498db;
  border: 2px solid #3498db;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
}

/* Add a hover effect to the select element */
.sidebar select:hover {
  background-color: #2980b9;
  color: white;
}

.register-dropdown select {
  background: transparent;
  color: #518f4b;
  border: 2px solid #518f4b;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
}

/* Add a hover effect to the select element */
.register-dropdown  select:hover {
  background-color: #518f4b;
  color: white;
}
/* Style the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
  margin: 5px;
  width: 100%;
}

/* Style the export button */
.export-button {
  background: transparent;
  color: #3498db;
  border: 2px solid #3498db;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
}

.export-button:hover {
  background-color: #3498db;
  color: #fff;
}

/* Style the selected export option */
.export-option.selected {
  background-color: #3498db;
  color: #fff;
}

/* Style the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  width: 100%;
}

/* Style the export options */
.export-option {
  padding: 5px;
  text-decoration: none;
  display: block;
  color: #333;
  transition: background-color 0.3s ease;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.export-option:hover {
  background-color: #3498db;
  color: #fff;
}

/* Show the dropdown content when hovering over the button */
.dropdown:hover .dropdown-content {
  display: block;
}

/*Taken and changed from
https://www.geeksforgeeks.org/how-to-close-sidebar-by-default-using-bootstrap/
*/

/* The sidebar menu */
.editbar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width */
  position: fixed;
  /* Fixed place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  right: 0;
  background-color: #212529;
  /* Disable horizontal scroll */
  overflow-x: hidden;
  /* Place content 60px from the top */
  padding-top: 60px;
  /* Transition effect to slide
    in the sidebar */
  transition: 0.5s;
}
/* The sidebar links */
.editbar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
/* Mouse over the navigation
links, to change their color */
.editbar a:hover {
  color: rgb(214, 42, 42);
}
/* Position and style the close
button at top right corner */
.editbar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* Style page content - pushes the
page content to the right when the
sidebar is opened */
#main {
  /* If you want a transition effect */
  transition: margin-left 0.5s;
  padding: 20px;
}
/* On smaller screens, where height is
less than 450px, change the style of
the side-nav (less padding and a
smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}